.hidden {
    display: none;
}
.active {
    display: block !important;
}

.nav-link:hover {
    color: red;
    cursor: cell;
}

.nav-link:link {
    text-decoration: underline;
}

.nav-link:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .nav-link:active {
    background-color: red;
  }


  body {
        margin: 0 auto;
        background: linear-gradient(to right,
        white, coral);
        background-position-x: 0;
        justify-content: center;
        align-items: center;
        animation: size 3s infinite linear;
        text-align: center;
        font-size: 30px;
        border: 5px solid black;
        width: 800px;
        height: 1000px;
  }

  @keyframes size {
      to {
          background-position-: 100vw;
      }
  }

  .funky {
    width: 300vw;
    height: 200vh;
    padding: 5rem;

    background-image: url(https://unsplash.com/photos/z4X3yABcf5g);
    background-size: cover;
    background-position: center;

    mask-image: url(https://github.com/LiteShado/lyrically-illuminated-frontend/blob/main/iLLuminated.png);
    mask-size: contain;
  }

  #loggingin {
      font-family: monospace;
      font-size: larger;
      font-style: oblique;
      font-stretch: ultra-condensed;
      background-color: darkslategrey;
      border: 5px darksalmon ridge;
      opacity: 0.6;
      border-radius: 10px;
      animation: nudge .50s linear infinite;

    }

    @keyframes nudge {
        0% {
            transform:rotate(-1deg);
        }
    }

  #editaccount {
      font-family: monospace;
      font-size: larger;
      font-style: oblique;
      font-stretch: ultra-condensed;
      background-color: darkslateblue;
      border: 5px darkmagenta ridge;
      opacity: 0.6;
      border-radius: 10px;

  }


    #welcomeback {
        text-shadow: .25px .5px .5px red;
        font-size: larger;
        font-style: oblique;
        font-stretch: ultra-condensed;
        font-variant: small-caps;
  }

  #userSong {
      background-color: darkred;
      opacity: 0.9;
      border: 5px darkorange ridge;
      border-radius: 10px;
      animation: pulse 3s infinite;
      /* animation: nudge 5s linear; */
  }

button {
    padding: 17px;

}
